.Titulo {
    position: absolute; /* Posicionamiento absoluto */
    top: 0; /* Posiciona la imagen en la parte superior */
    left: 0.6; /* Posiciona la imagen en la izquierda */
  }
  .Titulo {
    opacity: 0.9; /* Opacidad del 50% */
  }