/* Pantalla completa */
@media screen and (min-width: 768px) {
    /* Estilos para pantallas más grandes */
    .footer {
      background-color: black;
      left: 0px;
    }
    .footerContent {
      position: relative;
      bottom: 0;
      width: 100vw;
      background-color: black;
      padding-top: 200px;
      left: 0px;
    }
    #lbl1 {
      font-size: 30px;
      left: 0;
      color: white;
    }
  }
  
  /* Vista teléfono */
  @media screen and (max-width: 767px) {
    .footer {
        background-color: black;
        left: 0px;
      }
      .footerContent {
        position: relative;
        bottom: 0;
        width: 100vw;
        background-color: black;
        margin: 0;
        padding: 0;
        left: 0px;
      }
      #lbl1 {
        font-size: 11px;
        left: 0;
        color: white;
      } 
  }