/* Pantalla completa */
@media screen and (min-width: 700px) {
    /* Estilos para pantallas más grandes */
    .footer {
      position: absolute;
      width: 98.5vw;
      background-color: black;
      left: 0px;
    }
    .footerContent {
      position: relative;
      bottom: 0;
      background-color: black;
      padding-top: 300px;
      left: 0px;
    }
    .lbl1 {
      display: block;
      font-size: 20px;
      bottom: 20px;
      color: white;
    }
    #text1{
      position: absolute;
      top: 30px;
      left: 40vw;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
    }
    #text2{
      position: absolute;
      top: 100px;
      left: 35vw;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
    }
    #text3{
      position: absolute;
      top: 180px;
      left: 38vw;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
    }
    #text4{
      position: absolute;
      top: 250px;
      left: 25vw;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
    }
    #text5{
      position: absolute;
      top: 250px;
      left: 36vw;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
    }
    #text6{
      position: absolute;
      top: 250px;
      left: 48vw;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
    }
    #text7{
      position: absolute;
      top: 250px;
      left: 55vw;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
    }
    #text8{
      position: absolute;
      top: 250px;
      left: 65vw;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
    }
    #ojo{
      position: absolute;
      top: 50px;
      right: 240px;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background-color: white;
    }
    #ojo::before{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.3);
    }
    #ojo2{
      position: absolute;
      top: 50px;
      right: 170px;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background-color: white;
    }
    #ojo2::before{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.3);
    }
    #relleno{
      position: absolute;
      background-color: black;
      width: 10px;
      height: 300px;
      right: -2.5px;
      top: 0px;
    }
    #faro{
      position: absolute;
      width: 150px;
      top: 20px;
      left: 50px;
    }
    #arbusto{
      position: absolute;
      width: 250px;
      top: 50px;
      right: 30px;
    }
  }
  
  /* Vista teléfono */
  @media screen and (max-width: 700px) {
    .footer {
        background-color: black;
        left: 0px;
      }
      .footerContent {
        position: relative;
        bottom: 0px;
        width: 98vw;
        background-color: black;
        padding-top: 100px;
        left: 0px;
        padding-left: 1000px;
      }
      #lbl1 {
        display: block;
        font-size: 10px;
        left: 0;
        color: white;
      } 
      #ojo{
        position: absolute;
        top: 100px;
        right: 120px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
      }
      #ojo2{
        position: absolute;
        top: 100px;
        right: 50px;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background-color: white;
      }
      #faro{
        position: absolute;
        width: 150px;
        top: 20px;
        left: 50px;
      }
      #arbusto{
        position: absolute;
        width: 250px;
        top: 50px;
        right: 30px;
      }
  }